# Lexus LFA V10
# SoundBank path for main engine samples
engine_samples_path assets/soundbanks/tick_library.sb
# Main engine def name, firing order and optionally firing intervals (use any delimiter other than spaces/numbers between valuess)
engine_name 1lr_gue
engine_firing_order 1,6,5,10,2,7,3,8,4,9
engine_firing_interval 71,73,71,73,71,73,71,73,71,73,71 # Slight unevenness
# Note offsets for our 3 engine mixes
note_offset_engine_lo 11
note_offset_engine_hi 17
note_offset_engine_mech 5
engine_ctx_amp 0.72
enable_turbo false # enable turbo sound?
note_offset_turbo 0 # Turbocharger shaft note offset
# Backfire cycle logic
backfire_trigger_load 10 # When to consider the engine "unloaded" enough to consider backfiring (needs to be "loaded" just before, see next line)
backfire_reset_load 25 # When to consider the engine "loaded" enough (engine has to "loaded" then "unloaded" to start a backfire duration; cant be sitting unloaded for a while, backfiring nonstop)
backfire_duration_ticks 1 # Number of ticks the backfire lasts (logically, actual falloff might end earlier)
