# Example car
# These convars are used for configuring the main Engine engineDef so to speak
engine_samples_path assets/soundbanks/tick_library.sb
engine_name audi_inline_5
engine_firing_order 1-2-4-5-3
# Tri EngineSoundGenerators
note_offset_engine_lo 5
note_offset_engine_hi 23
note_offset_engine_mech 11
note_offset_turbo 0

