# Example car
# These convars are used for configuring the main Engine engineDef so to speak
engine_samples_path assets/soundbanks/tick_library.sb
engine_name audi_v10_fsi
engine_firing_order 1-2-3-4-5-6
# Firing interval is an optional convar
# engine_firing_interval 90-54-90-54-90-54-90-54-90-54
# Tri EngineSoundGenerators
note_offset_engine_lo 5
note_offset_engine_hi 23
note_offset_engine_mech 11

