# Unequal firing intervals - Trumpet VQ 350Z/370Z
# SoundBank path for main engine samples
engine_samples_path assets/soundbanks/tick_library.sb
# Main engine def name, firing order and optionally firing intervals (use any delimiter other than spaces/numbers between valuess)
engine_name vq_35
engine_firing_order 1-2-3-4-5-6
engine_firing_interval 177,183,177,183,177,183
# Note offsets for our 3 engine mixes
note_offset_engine_lo 5
note_offset_engine_hi 25
note_offset_engine_mech 11
enable_turbo false # enable turbo sound?
note_offset_turbo 0 # Turbocharger shaft note offset
# Backfire cycle logic
backfire_trigger_load 10 # When to consider the engine "unloaded" enough to consider backfiring (needs to be "loaded" just before, see next line)
backfire_reset_load 25 # When to consider the engine "loaded" enough (engine has to "loaded" then "unloaded" to start a backfire duration; cant be sitting unloaded for a while, backfiring nonstop)
backfire_duration_ticks 70 # Number of ticks the backfire lasts (logically, actual falloff might end earlier)
