# Corvette - GM LS1 V8
# SoundBank path for main engine samples
engine_samples_path assets/soundbanks/tick_library.sb
# Main engine def name, firing order and optionally firing intervals (use any delimiter other than spaces/numbers between valuess)
engine_name gm_ls1
engine_firing_order 1-8-7-2-6-5-4-3
# Note offsets for our 3 engine mixes
note_offset_engine_lo 4
note_offset_engine_hi 24
note_offset_engine_mech 11
enable_turbo false # enable turbo sound?
# Supercharger options
enable_supercharger false
supercharger_active_load 15
supercharger_active_note_offset 20
supercharger_inactive_note_offset 10
supercharger_rpm_ratio 8 # Pulley ratio basically
note_offset_turbo 0 # Turbocharger shaft note offset
# Backfire cycle logic
backfire_trigger_load 10 # When to consider the engine "unloaded" enough to consider backfiring (needs to be "loaded" just before, see next line)
backfire_reset_load 25 # When to consider the engine "loaded" enough (engine has to "loaded" then "unloaded" to start a backfire duration; cant be sitting unloaded for a while, backfiring nonstop)
backfire_duration_ticks 50 # Number of ticks the backfire lasts (logically, actual falloff can be arbitrary)
